<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Calendar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <!--<header class="topbar header">
      <img src="calendar-icon.png" id="logo">
      <div id="headerelements">
        <h1 class="headertitle">Calendar</h1>
        <button class="button" onClick="today()" style="margin-left: 10px;">TODAY</button>
        <h1 class="headerdate">January 2018</h1>
        <button class="button dropdown" onClick="calViewDropdown()">MONTH</button>
        <button class="button plusbutton"><a href="createevent" style="max-width: 100px; max-height: 100%;"><img id="pluslogo" src="white-plus-md.png" height="30px" width="30px"></a></button>
        <button class="button"><a href="login">LOGIN</a></button>
      </div>
    </header>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/calendar-icon.png' %}" style="height: 40px; width: auto;">
          Calendar
        </a>
        <a class="btn btn-primary gradient" href="{% url 'createevent' %}" style="margin-left: 50px;">
          <span class='glyphicon glyphicon-plus' style="width: 100px; font-family:inherit;">Add</span>
        </a>
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% if not user.is_authenticated %}
              <button class="button" ><a href="{% url 'auth_login' %}" style="color: #343a40;">Log In</a></button>
              {% endif %}
              {% if user.is_authenticated %}
              <button class="button" ><a href="{% url 'auth_login' %}" style="color: #343a40;">Log Out</a></button>
              {% endif %}
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="column">
      <div class="sidebar"></div>
      <table>
        <tbody>
          <tr>
            <td>Mon<br>1</td>
            <td>Tue<br>2</td>
            <td>Wed<br>3</td>
            <td>Thu<br>4</td>
            <td>Fri<br>5</td>
            <td>Sat<br>6</td>
            <td>Sun<br>7</td>
          </tr>
          <tr>
            <td><a href="{% url 'day_view' %}">8</a></td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
          </tr>
          <tr>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
          </tr><tr>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
          </tr><tr>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
