body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.textbox {
  width: 67%;
  float: left;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.table {
  width: 100%;
  padding: 15px;
}
